<!--
File Name: about.ejs
Student's Name: Samantha Ortiz de Foronda Rojas
StudentID: 301284463
Date: 02/09/2023
-->

<%-include partials/header.ejs%>
    <!-- Start Navbar -->
            <%-include partials/main_nav.ejs%>
         <!-- End Navbar -->
        <!-- Start Banner Container -->
        <div class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 order-2 order-md-1">
                        <!-- Start Left Content -->
                        <div class="padding-twenty-top">
                            <h1 class="font-weight-700">About Me</h1>
                            <br>
                            <h4>Profile </h4>
                            <p>Joyful, passionate, and committed. Graduated in Industrial Engineering from the University of Lima (Peru), with advanced knowledge in Office 365. I love learning new things and challenging the status quo by facing new challenges with flexibility, ambition, creativity, and enthusiasm.</p>
                            <br>
                            <h4>Languages </h4>
                            <p>- Spanish (Native) <br>
                                - English (Advanced) <br>
                                - German (Basic)
                            </p>
                            <br>
                            <h4>Skill </h4>
                            <p>Excel (Advanced) | Agile and Scrum (Advanced) | Office 365 (Advanced) | Power Apps (Advanced) | Power BI (Advanced) | Power Automate (Advanced) | Bizaggi (Basic) | KPI's (Advanced)</p>
                            <br>
                            
                            <a class="btn white" href="\Assets\Resume.pdf" download>Download PDF <i class="fas fa-arrow-right font-size15 margin-5px-left"></i></a>
                        </div>
                        <!-- End Left Content -->
                    </div>
                    <div class="col-md-5 col-sm-12 order-2">
                        <!-- Start Right Image -->
                        <img src ="\Assets\images\Image.png" >
                        <!-- End Right Image -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Container -->

  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>
