
<!--
File Name: project.ejs
Student's Name: Samantha Ortiz de Foronda Rojas
StudentID: 301284463
Date: 02/09/2023
-->

<%-include partials/header.ejs%>
    <!-- Start Navbar -->
            <%-include partials/main_nav.ejs%>
         <!-- End Navbar -->
        <!-- Start Container -->
    <body class="bg-light-gray">
        <h1 class="font-weight middle">Projects</h1>
        <h6 class="middle">Know the challenges I have had to take on in the past year.</h6>
        <div class="section bg-light-gray">
            <br>
            <br>
            <img  class="rounded-image" src="\Assets\images\DP.jpeg" style="width: 80%;">
            <br>
            <br>
            <h6>Role: Designer/ Programmer</h6>
            <p style="text-align: justify; margin-right: 30px; margin-left: 30px;">This app was developed for internal use by a company with the aim of tracking all positions, completing its objectives and functionalities.</p>
            <br>
          <br>
          </div>
          
          <div class="section bg-light-gray">
            <br>
            <br>
            <img class="rounded-image" src="\Assets\images\EvaDesempeno.jpeg" style="width: 80%;">
            <br>
            <br>
            <h6>Role: Designer/ Programmer</h6>
            <p style="text-align: justify; margin-right: 30px; margin-left: 30px;">The development of this app was mainly to measure the performance of employees, indicators such as goal and target compliance. On the other hand, it gives the boss a view of all their subordinates for better decision making.</p>
            <br>
          <br>
          </div>
          
          <div class="section bg-light-gray">
            <br>
            <br>
            <img class="rounded-image" src="\Assets\images\StatusAT.jpeg" style="width: 80%;">
            <br>
            <br>
            <h6>Role: Designer/ Programmer</h6>
            <p style="text-align: justify; margin-right: 30px; margin-left: 30px;">A tool for the talent attraction area. Control of the processes with the purpose of recruiting the right candidate, being able to place all the progress for management view.</p>
            <br>
          <br>
          </div>
          
        </div>
        <!-- End Container -->
        
    </body>
  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>
