<!--
File Name: services.ejs
Student's Name: Samantha Ortiz de Foronda Rojas
StudentID: 301284463
Date: 02/09/2023
-->

<%-include partials/header.ejs%>
<body class="bg-light-gray">
        <!-- Start Navbar -->
            <%-include partials/main_nav.ejs%>
         <!-- End Navbar -->
        <!-- Start  Content -->
        <h1 class="font-weight-700 middle">Services</h1>
        <h6 class = "middle"> I'd love to help you! These are the services I can provide based on my experience:</h6>
        <br>
        <div Class="container">
        <a class="btn white" href="/contactme" >Contact Me </a>
        </div>
        
        <div >
        <div class="section" style="margin-bottom: 150px;">
            <div class ="rectangle">
                <div class="circle">
                <img src="\Assets\images\Logo PowerApps.png" class="rounded-image2">
                </div>
                <h4 class="title">PowerApps</h4>
                <p class="text">Development of highly complex applications in PowerApps for internal use of the organization, interconnecting all areas of the company.</p>
                <br>
                
            </div>
            
        </div>
        

          
        <div class="section" style="margin-bottom: 150px;">
            <div class ="rectangle">
                <div class="circle">
                    <img src="\Assets\images\Logo WebApp.png" class="rounded-image2">
                </div>
                <h4 class="title">Web Application</h4>
                <p class="text">Development of web pages in HTML and CSS</p>
                <br>
            </div>
        </div>
           
          
        <div class="section" style="margin-bottom: 150px;">
            <div class ="rectangle">
                <div class="circle">
                    <img src="\Assets\images\Logo Agile.png" class="rounded-image2">
                </div>
                <h4 class="title">Advice on Agile Methodologies</h4>
                <p class="text">Consulting for the implementation of organizational work under Agile Methodologies</p>
                <br>
                </div>
        </div>      
    </div>   
        <!-- End Content -->

       
 </body>
 
  
  <!--Script section-->
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
